useDynLib(vemirt, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
S3method("%*%",torch_tensor)
S3method(t,torch_tensor)
export(DIF_EM)
export(DIF_GVEMM)
export(DIF_LRT)
import(Rcpp)
import(RcppArmadillo)
import(abind)
import(mirt)
import(torch)
importFrom(stats,dnorm)
importFrom(stats,rnorm)
importFrom(utils,setTxtProgressBar)
importFrom(utils,txtProgressBar)
